<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenAuth.net 基于经典DDD框架的权限管理</title>
    <meta name="Keywords" content="OpenAuth,DDD权限管理,yubaolee" />
    <meta name="Description" content="OpenAuth,DDD权限管理,yubaolee" />
    <!-- bootstrap - css -->
    <link href="~/BJUI/themes/css/bootstrap.css" rel="stylesheet">
    <!-- core - css -->
    <link href="~/BJUI/themes/css/style.css" rel="stylesheet">
    <link href="~/BJUI/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
    <!-- plug - css -->
    <link href="~/BJUI/plugins/kindeditor_4.1.10/themes/default/default.css" rel="stylesheet">
    <link href="~/BJUI/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/BJUI/plugins/niceValidator/jquery.validator.css" rel="stylesheet">
    <link href="~/BJUI/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
    <link href="~/BJUI/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/BJUI/plugins/styles/zTreeStyle/zTreeStyle.css" />
    <!--[if lte IE 7]>
    <link href="~/BJUI/themes/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
        <script src="~/BJUI/other/html5shiv.min.js"></script>
        <script src="~/BJUI/other/respond.min.js"></script>
    <![endif]-->
    <!-- jquery -->
    <script src="~/BJUI/js/jquery-1.11.3.min.js"></script>
    <script src="~/BJUI/js/jquery.cookie.js"></script>
    <!--[if lte IE 9]>
    <script src="~/BJUI/other/jquery.iframe-transport.js"></script>
    <![endif]-->
    <!-- BJUI.all 分模块压缩版 -->
    <script src="~/BJUI/js/bjui-all.js"></script>

    <!-- plugins -->
    <!-- swfupload for uploadify && kindeditor -->
    <script src="~/BJUI/plugins/swfupload/swfupload.js"></script>
    <!-- kindeditor -->
    <script src="~/BJUI/plugins/kindeditor_4.1.10/kindeditor-all.min.js"></script>
    <script src="~/BJUI/plugins/kindeditor_4.1.10/lang/zh_CN.js"></script>
    <!-- colorpicker -->
    <script src="~/BJUI/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- ztree -->
    <script src="~/BJUI/plugins/ztree/jquery.ztree.all-3.5.js"></script>
    <!-- nice validate -->
    <script src="~/BJUI/plugins/niceValidator/jquery.validator.js"></script>
    <script src="~/BJUI/plugins/niceValidator/jquery.validator.themes.js"></script>
    <!-- bootstrap plugins -->
    <script src="~/BJUI/plugins/bootstrap.min.js"></script>
    <script src="~/BJUI/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
    <script src="~/BJUI/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
    <!-- icheck -->
    <script src="~/BJUI/plugins/icheck/icheck.min.js"></script>
    <!-- dragsort -->
    <script src="~/BJUI/plugins/dragsort/jquery.dragsort-0.5.1.min.js"></script>
    <!-- other plugins -->
    <script src="~/BJUI/plugins/other/jquery.autosize.js"></script>
    <link href="~/BJUI/plugins/uploadify/css/uploadify.css" rel="stylesheet">
    <script src="~/BJUI/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
    <script src="~/BJUI/plugins/download/jquery.fileDownload.js"></script>

    <!---本项目扩展的JS代码-->
    <script src="~/BJUI/myextension.js"></script>
    <!-- init -->
    <script type="text/javascript">
        $(function () {
            BJUI.init({
                JSPATH: 'BJUI/',         //[可选]框架路径
                PLUGINPATH: 'BJUI/plugins/', //[可选]插件路径
                loginInfo: { url: 'Login', title: '登录', width: 400, height: 200 }, // 会话超时后弹出登录对话框
                statusCode: { ok: 200, error: 300, timeout: 301 }, //[可选]
                ajaxTimeout: 50000, //[可选]全局Ajax请求超时时间(毫秒)
                pageInfo: { total: 'total', pageCurrent: 'pageCurrent', pageSize: 'pageSize', orderField: 'orderField', orderDirection: 'orderDirection' }, //[可选]分页参数
                alertMsg: { displayPosition: 'topcenter', displayMode: 'slide', alertTimeout: 3000 }, //[可选]信息提示的显示位置，显隐方式，及[info/correct]方式时自动关闭延时(毫秒)
                keys: { statusCode: 'statusCode', message: 'message' }, //[可选]
                ui: {
                    windowWidth: 0,    //框架可视宽度，0=100%宽，> 600为则居中显示
                    showSlidebar: true, //[可选]左侧导航栏锁定/隐藏
                    clientPaging: true, //[可选]是否在客户端响应分页及排序参数
                    overwriteHomeTab: false //[可选]当打开一个未定义id的navtab时，是否可以覆盖主navtab(我的主页)
                },
                debug: true,    // [可选]调试模式 [true|false，默认false]
                theme: 'sky' // 若有Cookie['bjui_theme'],优先选择Cookie['bjui_theme']。皮肤[五种皮肤:default, orange, purple, blue, red, green]
            });
        });
    </script>
</head>
<body>

    <!--[if lte IE 7]>
        <div id="errorie"><div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
    <![endif]-->
    @RenderBody()

</body>
</html>