@model OpenAuth.App.DTO.MenuForUserResponse
<div id="sidebar">
    <div id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large">
            <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
            <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
            <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
            <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
        </div>
        <div id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">

    @foreach (var menu in Model.Menus)
    {
        <li>
            <a href="@menu.NavigateUrl">
                <i class="icon-dashboard"></i>
                <span>@menu.FullName</span>
            </a>
        </li>
    }
        
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-file"></i>
                <span>Other Pages</span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li><a href="#" onclick="loadMenus();"><i class="icon-double-angle-right"></i> 菜单管理</a></li>
                <li><a href="invoice.html"><i class="icon-double-angle-right"></i> 按钮管理</a></li>
                <li><a href="login.html"><i class="icon-double-angle-right"></i> Login & Register</a></li>
                <li><a href="error-404.html"><i class="icon-double-angle-right"></i> Error 404</a></li>
                <li><a href="error-500.html"><i class="icon-double-angle-right"></i> Error 500</a></li>
                <li><a href="blank.html"><i class="icon-double-angle-right"></i> Blank Page</a></li>
            </ul>
        </li>
    </ul><!--/.nav-list-->

    <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>
</div><!--/#sidebar-->

<script type="text/javascript">
    function loadMenus() {
        $.get('@Url.Action("List","Button")', function (data, status) {
            $("#main-content").html(data);
        });
    }
</script>