<div id="breadcrumbs">

    <ul class="breadcrumb">

        <li><i class="icon-home"></i> <a href="#">菜单管理</a><span class="divider"><i class="icon-angle-right"></i></span></li>

    </ul><!--.breadcrumb-->

</div><!--#breadcrumbs-->

<div id="page-content" class="clearfix">
    <div class="row-fluid">
        <!-- PAGE CONTENT BEGINS HERE -->
        <div class="row-fluid">
            <div class="span12">
                <table id="table_bug_report" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label><input type="checkbox" /><span class="lbl"></span></label>
                            </th>
                            <th>Domain</th>
                            <th>Price</th>
                            <th class="hidden-480">Clicks</th>
                            <th class="hidden-phone"><i class="icon-time hidden-phone"></i> Update</th>
                            <th class="hidden-480">Status</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td class='center'>
                                <label><input type='checkbox' /><span class="lbl"></span></label>
                            </td>
                            <td><a href='#'>ace.com</a></td>
                            <td>$45</td>
                            <td class='hidden-480'>3,330</td>
                            <td class='hidden-phone'>Feb 12</td>
                            <td class='hidden-480'><span class='label label-warning'>Expiring</span></td>
                            <td>
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
                                    <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                        <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit" data-placement="left"><span class="green"><i class="icon-edit"></i></span></a></li>
                                        <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Flag" data-placement="left"><span class="blue"><i class="icon-flag"></i></span> </a></li>
                                        <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" data-placement="left"><span class="red"><i class="icon-trash"></i></span> </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td class='center'>
                                <label><input type='checkbox' /><span class="lbl"></span></label>
                            </td>
                            <td><a href='#'>base.com</a></td>
                            <td>$35</td>
                            <td class='hidden-480'>2,595</td>
                            <td class='hidden-phone'>Feb 18</td>
                            <td class='hidden-480'><span class='label label-success'>Registered</span></td>
                            <td>
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
                                    <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                        <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit" data-placement="left"><span class="green"><i class="icon-edit"></i></span></a></li>
                                        <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Flag" data-placement="left"><span class="blue"><i class="icon-flag"></i></span> </a></li>
                                        <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" data-placement="left"><span class="red"><i class="icon-trash"></i></span> </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td class='center'>
                                <label><input type='checkbox' /><span class="lbl"></span></label>
                            </td>
                            <td><a href='#'>max.com</a></td>
                            <td>$60</td>
                            <td class='hidden-480'>4,400</td>
                            <td class='hidden-phone'>Mar 11</td>
                            <td class='hidden-480'><span class='label label-warning'>Expiring</span></td>
                            <td>
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
                                    <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                        <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit" data-placement="left"><span class="green"><i class="icon-edit"></i></span></a></li>
                                        <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Flag" data-placement="left"><span class="blue"><i class="icon-flag"></i></span> </a></li>
                                        <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" data-placement="left"><span class="red"><i class="icon-trash"></i></span> </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td class='center'>
                                <label><input type='checkbox' /><span class="lbl"></span></label>
                            </td>
                            <td><a href='#'>best.com</a></td>
                            <td>$75</td>
                            <td class='hidden-480'>6,500</td>
                            <td class='hidden-phone'>Apr 03</td>
                            <td class='hidden-480'><span class='label label-inverse arrowed-in'>Flagged</span></td>
                            <td>
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
                                    <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                        <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit" data-placement="left"><span class="green"><i class="icon-edit"></i></span></a></li>
                                        <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Flag" data-placement="left"><span class="blue"><i class="icon-flag"></i></span> </a></li>
                                        <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" data-placement="left"><span class="red"><i class="icon-trash"></i></span> </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div><!--/span-->
        </div><!--/row-->
        <!-- PAGE CONTENT ENDS HERE -->
    </div><!--/row-->

</div><!--/#page-content-->