@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Project Info</li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    社区信息>>
                                </h3>
                            </div>
                            <div class="panel-body bjui-doc" style="padding: 0;">
                                <ul>
                                    <li>QQ群：484498493</li>
                                    <li>官方博客：<a href="http://www.cnblogs.com/yubaolee/" target="_blank">http://www.cnblogs.com/yubaolee/</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    本在线演示说明>>
                                </h3>
                            </div>
                            <div class="panel-body bjui-doc" style="padding: 0;">
                                <ul>
                                    <li>为安全起见，关闭了所有修改请求，如想体验完整功能可搭建本地环境</li>
                                    <li>admin/test两个账号只分配了部分模块/部门，系统完整模块/部门情况请直接在登录界面点击“以开发者账号登陆”</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">项目最新动态>></h3>
                            </div>
                            <div class="panel-body">
                                <iframe width="100%" height="300" class="share_self" frameborder="0" scrolling="no" src="/Home/Git"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
