<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页--OpenAuth.Net</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="/css/main.css" media="all" />
</head>
<body class="childrenBody">
    <div class="panel_box row">
        <div class="panel col">
            <a href="javascript:;" data-url="page/message/message.html">
                <div class="panel_icon">
                    <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
                </div>
                <div class="panel_word newMessage">
                    <span></span>
                    <cite>新消息</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="javascript:;" data-url="page/user/allUsers.html">
                <div class="panel_icon" style="background-color:#FF5722;">
                    <i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
                </div>
                <div class="panel_word userAll">
                    <span></span>
                    <cite>新增人数</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="javascript:;" data-url="page/user/allUsers.html">
                <div class="panel_icon" style="background-color:#009688;">
                    <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
                </div>
                <div class="panel_word userAll">
                    <span></span>
                    <cite>用户总数</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="javascript:;" data-url="page/img/images.html">
                <div class="panel_icon" style="background-color:#5FB878;">
                    <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
                </div>
                <div class="panel_word imgAll">
                    <span></span>
                    <cite>图片总数</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="javascript:;" data-url="page/news/newsList.html">
                <div class="panel_icon" style="background-color:#F7B824;">
                    <i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
                </div>
                <div class="panel_word waitNews">
                    <span></span>
                    <cite>待审核文章</cite>
                </div>
            </a>
        </div>
        <div class="panel col max_panel">
            <a href="javascript:;" data-url="page/news/newsList.html">
                <div class="panel_icon" style="background-color:#2F4056;">
                    <i class="iconfont icon-text" data-icon="icon-text"></i>
                </div>
                <div class="panel_word allNews">
                    <span></span>
                    <em>文章总数</em>
                    <cite>文章列表</cite>
                </div>
            </a>
        </div>
    </div>
    <blockquote class="layui-elem-quote explain">
        <p>本模板基于Layui实现，支持除LayIM外所有的Layui组件。
            <a href="http://layim.layui.com/" target="_blank" class="layui-btn layui-btn-mini">前往获取LayIM授权</a>
            <a href="https://git.oschina.net/layuicms/layuicms" target="_blank" class="layui-btn layui-btn-mini layui-btn-danger">码云下载</a><a href="https://github.com/BrotherMa/layuiCMS" target="_blank" class="layui-btn layui-btn-mini layui-btn-danger">GitHub下载</a>　
        <span style="color:#1E9FFF;">郑重提示：为方便所有人查看demo，所有操作无效，请知悉</span></p>
        <p>开发文档地址：<a class="layui-btn layui-btn-mini" target="_blank" href="http://www.layui.com/doc">点此跳转</a>
        <a class="layui-btn layui-btn-mini layui-btn-danger" target="_blank" href="http://fly.layui.com/case/u/3198216">我要收藏</a>　
            技术交流QQ群：
         <span style="color:#f00;">注：【本框架仅作为学习交流使用，如需用作商业用途，请联系作者授权，谢谢】</span></p>
    </blockquote>
    <div class="row">
        <div class="sysNotice col">
            <blockquote class="layui-elem-quote title">更新日志</blockquote>
            <div class="layui-elem-quote layui-quote-nm">
                <h3># v4.0（颠覆） - 2017-09-20</h3>
                <p>* 引入layui 2.02，这是有史以来最酷的Openauth.net</p>
                <p>* 全面优化数据结构</p>
                <p>* 全面优化流程引擎</p>
            </div>
        </div>
        <div class="sysNotice col">
            <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td>当前版本</td>
                        <td class="version"></td>
                    </tr>
                    <tr>
                        <td>开发作者</td>
                        <td class="author"></td>
                    </tr>
                    <tr>
                        <td>网站首页</td>
                        <td class="homePage"></td>
                    </tr>
                    <tr>
                        <td>服务器环境</td>
                        <td class="server"></td>
                    </tr>
                    <tr>
                        <td>数据库版本</td>
                        <td class="dataBase"></td>
                    </tr>
                    <tr>
                        <td>最大上传限制</td>
                        <td class="maxUpload"></td>
                    </tr>
                    <tr>
                        <td>当前用户权限</td>
                        <td class="userRights"></td>
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>

    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>