
@{
    Layout = null;
}

<script type="text/javascript">

</script>
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            基于经典DDD架构的权限管理系统　<small>轻松开发，专注您的业务！</small>
        </h4>
        
        <div style=" margin-top:22px; padding-left:6px;">
            
            <span style="padding-left:30px;">官方博客：</span><a href="http://www.cnblogs.com/yubaolee/" target="_blank">http://www.cnblogs.com/yubaolee/</a>
        </div>
        <div class="row" style=" margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    
</div>
