.layui-elem-field {
    border: 1px solid #5fb878;
}

.site-tips {
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #0078AD;
    background-color: #f2f2f2;
}

body .site-tips p {
    margin: 0;
}
