@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-sm btn-success" id="btnAddElement">
                            添加
                        </button>
                        <button type="button" class="btn btn-sm btn-success" id="btnEditElement">
                            编辑
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" id="btnDelElement">
                            删除
                        </button>
                    </div>
                </div>
                <div class="widget-body gridwidth">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input id="selectedModuleId" value="@ViewBag.ModuleId" style="display: none" />
                                <table id="maingrid"></table>
                                <div id="grid-pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<!--编辑对话框-->
<div id="editDlg" style="display: none">
    <input type="hidden" id="ModuleId" v-model="ModuleId" />

    <div class="col-xs-12">
        <form class="form-horizontal" id="editForm">
            <div class="form-group">

                <label class="col-sm-3 control-label no-padding-right" for=""> DOM ID </label>
                <div class="col-sm-9">
                    <input type="text" id="DomId" check-type="required" v-model="DomId" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 名称 </label>
                <div class="col-sm-9">
                    <input type="text" id="Name" check-type="required" v-model="Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 脚本 </label>
                <div class="col-sm-9">
                    <input type="text" id="Script" check-type="required" v-model="Script" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 排序号 </label>
                <div class="col-sm-9">
                    <input type="text" id="Sort" check-type="required" v-model="Sort" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 描述 </label>
                <div class="col-sm-9">
                    <input type="text" id="Remark" check-type="required" v-model="Remark" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 元素样式 </label>
                <div class="col-sm-9">
                    <select id="Class" name="Class" v-model="Class">
                        <option value="btn-success" selected>绿色</option>
                        <option value="btn-red">红色</option>
                        <option value="btn-primary">默认</option>
                        <option value="btn-danger">警告</option>
                        <option value="btn-pink">粉红</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 图标 </label>
                <div class="col-sm-9">
                    <select id="Icon" name="Icon" v-model="Icon">
                        <option value="pencil" selected>pencil</option>
                        <option value="plus">plus</option>
                        <option value="trash">trash</option>
                        <option value="bank">bank</option>
                        <option value="bar">bar</option>
                        <option value="refresh">refresh</option>
                        <option value="user">user</option>
                        <option value="key">key</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/moduleElementMan.js"></script>
<script src="~/BllScripts/jqEvent.js"></script>