@{
    Layout = "~/Views/Shared/_BjuiLayout.cshtml";
}
@{ Html.RenderAction("MenuHeader", "Home");}
<div class="bjui-pageContent tableContent" style="position: relative">
    <div class="clearfix">
        <div style="float: left; width: 220px; overflow: auto;" class="table table-bordered">
            <ul id="orgtree" class="ztree"></ul>
        </div>

        <div id="detail" style="margin-left: 225px;">
            <table id="maingrid" class="table table-bordered"></table>
        </div>
    </div>
</div>

<!--编辑对话框-->
<div class="bjui-dialog hidden bjui-dialog-container" id="editDlg" data-noinit="true">
    <div class="bjui-pageContent">
        <form action="/UserManager/Add" class="pageForm" data-toggle="validate" data-reload="false" id="editForm">

            <table class="table table-condensed table-hover">
                <tbody>
                <input type="text" id="Id" name="Id" value="" class="hidden"/>
                    <tr>
                        <td>
                            <label for="Account" class="control-label x120">账号：</label>
                            <input type="text" id="Account" name="Account" value="" />
                        </td>
                    </tr>
                <tr>
                    <td>
                        <label for="Name" class="control-label x120">姓名：</label>
                        <input type="text" id="Name" name="Name" value=""/>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <label for="Organizations" class="control-label x120">所属机构：</label>
                            <input id="OrganizationIds" name="OrganizationIds" value=""  style="display: none" />
                            <input type="text" name="Organizations" id="Organizations"
                                   data-toggle="selectztree"  data-tree="#j_select_tree1" >
                            <ul id="j_select_tree1" class="ztree hide" data-toggle="ztree"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Sex" class="control-label x120">用户性别：</label>
                            <select name="Sex" id="Sex" data-toggle="selectpicker" data-rule="required">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Status" class="control-label x120">用户状态：</label>
                            <select name="Status" id="Status" data-toggle="selectpicker" data-rule="required">
                                <option value="0">默认</option>
                                <option value="1">状态1</option>
                                <option value="2">状态2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Type" class="control-label x120">用户类型：</label>
                            <select name="Type" id="Type" data-toggle="selectpicker" data-rule="required">
                                <option value="0">默认</option>
                                <option value="1">状态1</option>
                                <option value="2">状态2</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="bjui-pageFooter">
        <ul>
            <li><button type="button" class="btn btn-close">关闭</button></li>
            <li><button type="button" class="btn btn-primary" id="btnSave">保存</button></li>
        </ul>
    </div>
</div>

<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/UserManager.js"></script>