@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}
<blockquote class="layui-elem-quote news_search toolList">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input class="layui-input" placeholder="请输入关键字"
                   name="key" id="key" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="search">搜索</button>
    </div>

    <button class="layui-btn " data-type="addData">添加用户</button>
    <button class="layui-btn layui-btn-danger" data-type="del">批量删除</button>
</blockquote>

<div style="display: flex;">

    <ul id="tree" class="ztree" style="display: inline-block; width: 180px; padding: 10px; border: 1px solid #ddd; overflow: auto;"></ul>

    <table class="layui-table"
           lay-data="{height: 'full-90',url:'/json/usersList.json', page:true, id:'mainList'}"
           lay-filter="list">
        <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                <th lay-data="{field:'username', width:80}">用户名</th>
                <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
                <th lay-data="{field:'city', width:80}">城市</th>
                <th lay-data="{field:'sign', width:177}">签名</th>
                <th lay-data="{field:'experience', width:80, sort: true}">积分</th>

                <th lay-data="{field:'classify', width:80}">职业</th>
                <th lay-data="{field:'wealth', width:135, sort: true}">财富</th>
                <th lay-data="{field:'score', width:80, sort: true}">评分</th>
                <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barList'}"></th>
            </tr>
        </thead>
    </table>
</div>


<script type="text/html" id="barList">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/users.js"></script>