
@section header
{
     <link rel="stylesheet" href="/css/treetable.css" />
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
    <link href="/js/flow/GooFlow.css" rel="stylesheet" />
     <link href="/css/formpreview.css" rel="stylesheet" />
     <style type="text/css">
         div.layui-table-cell {
             color: rgb(102, 102, 102) ! important;
         }
     </style>
}

<form class="layui-form " action="" id="formEdit">

    <div class="layui-tab layui-tab-brief" lay-filter="tab" style="margin: 0px">
        <ul class="layui-tab-title">
            <li class="layui-this">流程信息</li>
            <li>表单信息</li>
        </ul>

        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="mainList"
                       lay-data="{page:false, id:'mainList'}"
                       lay-filter="list" lay-size="sm">
                </table>
                <div id="flowPanel"></div>
            </div>

            <div class="layui-tab-item">
                <div id="frmPreview" style="min-height: 600px"></div>
            </div>

        </div>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/flowinstanceDetail.js?v2.0.0"></script>

