
@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
    <link href="/js/flow/GooFlow.css" rel="stylesheet" />
    <link href="/css/formpreview.css" rel="stylesheet" />
}

<form class="layui-form layui-form-pane" action="" id="formEdit">
    <input type="hidden" name="Id" v-model="Id" />
    <input type="hidden" id="FrmId" name="FrmId" v-model="FrmId" />
    <input type="hidden" id="SchemeContent" name="SchemeContent" v-model="SchemeContent" />
    <input type="hidden" id="FrmContentData" name="FrmContentData" v-model="FrmContentData" />
    <input type="hidden" id="FrmContentParse" name="FrmContentParse" v-model="FrmContentParse" />
    <input type="hidden" id="FrmData" name="FrmData" v-model="FrmData" />

    <div class="layui-row">
        <div class="layui-tab layui-tab-brief" lay-filter="tab" style="margin: 0px">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>选择流程模板</li>
            </ul>

            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">实例编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Code" v-model="Code" required lay-verify="required"
                                   placeholder="实例编号" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="CustomName" v-model="CustomName" required lay-verify="required"
                                   placeholder="自定义名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="Description" v-model="Description"  placeholder="请输入" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item layui-fluid">

                    <div class="layui-row">
                        <div class="layui-col-xs3">
                            <ul id="frmTree" class="ztree"
                                style="padding: 2px; border: 1px solid #ddd; overflow: auto;"></ul>
                        </div>
                        <div class="layui-col-xs9 layui-col-space10">
                            <div class="layui-row">
                                <fieldset class="layui-elem-field">
                                    <legend>申请内容</legend>
                                    <div class="layui-field-box">
                                        <div id="frmPreview"></div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="layui-row">
                                <fieldset class="layui-elem-field">
                                    <legend>流程预览</legend>
                                    <div class="layui-field-box">
                                        <div id="flowPanel"></div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <input type="hidden" lay-submit id="btnSubmit" lay-filter="formSubmit" />
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/flowInstanceEdit.js?v2"></script>

