@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}
<blockquote class="layui-elem-quote news_search toolList">
    @Html.Action("MenuHeader", "Home")
</blockquote>

<div style="display: flex;">
    <ul id="tree" class="ztree" style="display: inline-block; width: 180px; padding: 10px; border: 1px solid #ddd; overflow: auto;"></ul>
    <table class="layui-table"
           lay-data="{height: 'full-80', page:true, id:'mainList'}"
           lay-filter="list" lay-size="sm">
        <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Id', width:150}">主键Id</th>
                <th lay-data="{field:'InstanceSchemeId', width:150}">流程实例模板Id</th>
                <th lay-data="{field:'Code', width:150}">实例编号</th>
                <th lay-data="{field:'CustomName', width:150}">自定义名称</th>
                <th lay-data="{field:'ActivityId', width:150}">当前节点ID</th>
                <th lay-data="{field:'ActivityType', width:150}">当前节点类型（0会签节点）</th>
                <th lay-data="{field:'ActivityName', width:150}">当前节点名称</th>
                <th lay-data="{field:'PreviousId', width:150}">前一个ID</th>
                <th lay-data="{field:'FrmType', width:150}">表单类型</th>
                <th lay-data="{field:'SchemeType', width:150}">流程类型</th>
                <th lay-data="{field:'Disabled', width:150}">有效标志</th>
                <th lay-data="{field:'CreateDate', width:150}">创建时间</th>
                <th lay-data="{field:'CreateUserId', width:150}">创建用户主键</th>
                <th lay-data="{field:'CreateUserName', width:150}">创建用户</th>
                <th lay-data="{field:'FlowLevel', width:150}">等级</th>
                <th lay-data="{field:'Description', width:150}">实例备注</th>
                <th lay-data="{field:'IsFinish', width:150}">是否完成</th>
                <th lay-data="{field:'MakerList', width:150}">执行人</th>
                <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barList'}"></th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/html" id="barList">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

<!--用户添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form" action="" id="formEdit">
        <input type="hidden" name="Id" v-model="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label">流程实例模板Id</label>
            <div class="layui-input-block">
                <input type="text" name="InstanceSchemeId" v-model="InstanceSchemeId" required lay-verify="required"
                       placeholder="流程实例模板Id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实例编号</label>
            <div class="layui-input-block">
                <input type="text" name="Code" v-model="Code" required lay-verify="required"
                       placeholder="实例编号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">自定义名称</label>
            <div class="layui-input-block">
                <input type="text" name="CustomName" v-model="CustomName" required lay-verify="required"
                       placeholder="自定义名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前节点ID</label>
            <div class="layui-input-block">
                <input type="text" name="ActivityId" v-model="ActivityId" required lay-verify="required"
                       placeholder="当前节点ID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前节点类型（0会签节点）</label>
            <div class="layui-input-block">
                <input type="radio" name="ActivityType" value="1" title="value1" checked>
                <input type="radio" name="ActivityType" value="0" title="value2">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前节点名称</label>
            <div class="layui-input-block">
                <input type="text" name="ActivityName" v-model="ActivityName" required lay-verify="required"
                       placeholder="当前节点名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">前一个ID</label>
            <div class="layui-input-block">
                <input type="text" name="PreviousId" v-model="PreviousId" required lay-verify="required"
                       placeholder="前一个ID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">表单类型</label>
            <div class="layui-input-block">
                <input type="radio" name="FrmType" value="1" title="value1" checked>
                <input type="radio" name="FrmType" value="0" title="value2">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流程类型</label>
            <div class="layui-input-block">
                <input type="text" name="SchemeType" v-model="SchemeType" required lay-verify="required"
                       placeholder="流程类型" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有效标志</label>
            <div class="layui-input-block">
                <input type="radio" name="Disabled" value="1" title="value1" checked>
                <input type="radio" name="Disabled" value="0" title="value2">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input type="text" name="CreateDate" v-model="CreateDate" required lay-verify="required"
                       placeholder="创建时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建用户主键</label>
            <div class="layui-input-block">
                <input type="text" name="CreateUserId" v-model="CreateUserId" required lay-verify="required"
                       placeholder="创建用户主键" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建用户</label>
            <div class="layui-input-block">
                <input type="text" name="CreateUserName" v-model="CreateUserName" required lay-verify="required"
                       placeholder="创建用户" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-block">
                <input type="radio" name="FlowLevel" value="1" title="value1" checked>
                <input type="radio" name="FlowLevel" value="0" title="value2">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实例备注</label>
            <div class="layui-input-block">
                <input type="text" name="Description" v-model="Description" required lay-verify="required"
                       placeholder="实例备注" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否完成</label>
            <div class="layui-input-block">
                <input type="radio" name="IsFinish" value="1" title="value1" checked>
                <input type="radio" name="IsFinish" value="0" title="value2">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">执行人</label>
            <div class="layui-input-block">
                <input type="text" name="MakerList" v-model="MakerList" required lay-verify="required"
                       placeholder="执行人" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/flowInstances.js"></script>


