<div class="bjui-pageContent">
    <div class="clearfix">
        <div style="float: left; width: 220px; height: 240px; overflow: auto;" class="table table-bordered">
            <ul id="orgTree" class="ztree"></ul>
        </div>
        <div id="ztree-detail" style="margin-left: 225px; width: auto;">
            <table id="test-datagrid-array" data-width="100%" data-height="100%" class="table table-bordered"></table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var setting = {
            view: {
                selectedMulti: false
            },
            data: {
                key: {
                    name: "Name",
                    title: "Name"
                },
                simpleData: {
                    enable: true,
                    idKey: "Id",
                    pIdKey: "ParentId",
                    rootPId: "null"
                }
            },
            callback: {
                onClick: zTreeOnClick
            }
        };

        $.getJSON("OrgManager/LoadOrg", function (json) {
            var zTreeObj = $.fn.zTree.init($("#orgTree"), setting, json);

            $('#test-datagrid-array').datagrid({
                gridTitle: '机构列表显示',
                showToolbar: true,
                toolbarItem: 'all',
                columns: [
                    { name: 'Name', width: '150', label: '机构名称' },
                    { name: 'CreateTime', width: '120', label: '登记日期' }
                ],
                data: json,
                hiddenFields: ['Id'],
                editUrl: 'ajaxDone1.html',
                delUrl: 'ajaxDone1.html',
                editMode: 'dialog',
                fullGrid: true,
                showLinenumber: true,
                showCheckboxcol: true,
                paging: false,
                filterMult: false,
                showTfoot: true
            });
        });

    });

    function zTreeOnClick(event, treeId, treeNode) {
        $.getJSON("OrgManager/LoadChildren", { id: treeNode.Id }, function (json) {
            $('#test-datagrid-array').destroy();
            $('#test-datagrid-array').datagrid({
                gridTitle: '机构列表显示',
                showToolbar: true,
                toolbarItem: 'all',
                columns: [
                    { name: 'Name', width: '150', label: '机构名称' },
                    { name: 'CreateTime', width: '120', label: '登记日期' }
                ],
                data: json,
                hiddenFields: ['Id'],
                editUrl: 'ajaxDone1.html',
                delUrl: 'ajaxDone1.html',
                editMode: 'dialog',
                fullGrid: true,
                showLinenumber: true,
                showCheckboxcol: true,
                paging: false,
                filterMult: false,
                showTfoot: true
            });
        });

    }
    //@@ sourceURL=orgIndex.js
</script>