
@{
    Layout = null;
}
<link href="~/Content/scripts/layui/css/layui.css" rel="stylesheet" />
<link href="~/Content/mylayer.css" rel="stylesheet" />
<script src="~/Content/scripts/layui/layui.js"></script>
<script src="~/Content/scripts/jquery/jQuery-2.1.4.min.js"></script>
<script src="~/Content/scripts/zTree/js/jquery.ztree.core.js"></script>
<link href="/Content/scripts/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" />

<div style="display: inline-block; width: 180px; height: 210px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
    <input style="display: none" id="firstId" value="@ViewBag.FirstId" />
    <input style="display: none" id="moduleType" , value="@ViewBag.ModuleType" />
    <ul id="orgtree" class="ztree" style="width: 100%"></ul>
</div>


<div class="site-tips" style="display: inline-block; height: 210px; width: 340px; padding: 10px;vertical-align: top;" id="demo2-view">
    <form class="layui-form " action="" id="resources"></form>
</div>


<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/assignRes.js"></script>

