@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("MenuHeader", "Home");}
<div class="bjui-pageContent tableContent" style="position: relative">
    <div class="clearfix">
        <div style="float: left; width: 220px; overflow: auto;" class="table table-bordered">
            <ul id="tree" class="ztree"></ul>
        </div>

        <div id="detail" style="margin-left: 225px;">
            <table id="maingrid" class="table table-bordered"></table>
        </div>
    </div>
</div>

<!--编辑对话框-->
<div class="bjui-dialog hidden bjui-dialog-container" id="editDlg" data-noinit="true">
    <div class="bjui-pageContent">
        <form action="/ResourceManager/Add" class="pageForm" data-toggle="validate" data-reload="false" id="editForm">

            <table class="table table-condensed table-hover">
                <tbody>
                    <input type="text" id="Id" name="Id" value="" class="hidden" />
                    <tr>
                        <td>
                            <label for="Key" class="control-label x120">资源标识：</label>
                            <input type="text" id="Key" name="Key" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Name" class="control-label x120">名称：</label>
                            <input type="text" id="Name" name="Name" value="" />
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <label for="Status" class="control-label x120">当前状态：</label>
                            <select name="Status" id="Status" data-toggle="selectpicker" data-rule="required">
                                <option value="0">默认</option>
                                <option value="1">状态1</option>
                                <option value="2">状态2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="SortNo" class="control-label x120">排序号：</label>
                            <input type="text" id="SortNo" name="SortNo" value=""/>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <label for="Description" class="control-label x120">描述：</label>
                            <input type="text" id="Description" name="Description" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="CategoryName" class="control-label x120">所属分类：</label>
                            <input id="CategoryId" name="CategoryId" style="display: none" />
                            <input type="text" name="CategoryName" id="CategoryName"
                                   data-toggle="selectztree" data-tree="#j_select_tree1">
                            <ul id="j_select_tree1" class="ztree hide" data-toggle="ztree"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="bjui-pageFooter">
        <ul>
            <li><button type="button" class="btn btn-close">关闭</button></li>
            <li><button type="button" class="btn btn-primary" id="btnSave">保存</button></li>
        </ul>
    </div>
</div>

<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/ResourceManager.js"></script>

