@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">资源管理</a>
        </li>
        <li class="active">列表</li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <ul id="orgtree" class="ztree" style="width: 100%"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        @Html.Action("MenuHeader", "Home")
                    </div>
                    <div class="widget-body gridwidth">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table id="maingrid"></table>
                                    <div id="grid-pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->

<!--编辑对话框-->
<div id="editDlg" style="display: none">
    <div class="col-xs-12">
        <form class="form-horizontal" id="editForm">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 资源标识 </label>
                <div class="col-sm-9">
                    <input type="text" id="Key" check-type="required" v-model="Key"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 名称 </label>
                <div class="col-sm-9">
                    <input type="text" id="Name" check-type="required" v-model="Name"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 排序号 </label>
                <div class="col-sm-9">
                    <input type="text" id="SortNo" check-type="required" v-model="SortNo"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for=""> 资源分类</label>
                <div class="col-sm-9">
                    <input id="CategoryName" type="text" v-model="CategoryName"/>
                    <input id="CategoryId" type="hidden" v-model="CategoryId"/>
                    <div id="menuContent" class="menuContent" style="display: none;">
                        <ul id="org" class="ztree"></ul>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/parentTree.js"></script>
<script src="~/BllScripts/ResourceManager.js"></script>
<script src="~/BllScripts/jqEvent.js"></script>

