@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}

<div>
    <ul id="tree" class="ztree layui-nav-side" style="border-right: 1px solid #eee;" ></ul>
    <ul id="menutree" class="ztree" style="margin-left: 200px; " ></ul>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/assignModule.js"></script>