@{
    Layout = null;
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet"/>
<link href="~/Content/mylayer.css" rel="stylesheet" />
<script src="~/Content/layui/layui.js"></script>
<script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script src="~/Content/layui/lay/modules/form.js"></script>
<form class="layui-form " action="">
    <input style="display: none" id="firstId" value="@ViewBag.FirstId"/>
    <input style="display: none" id="moduleType" , value="@ViewBag.ModuleType"/>
    @Html.Raw(ViewBag.Modules)
</form>

<script src="~/BllScripts/assignModule.js"></script>



