@section header
{
     <link rel="stylesheet" href="/css/treetable.css" />
}

<div class="layui-row">
    <div class="layui-col-xs3">
        <ul id="tree" class="ztree"
            style="padding: 2px; border: 1px solid #ddd; overflow: auto;"></ul>
    </div>
    <div class="layui-col-xs9">
        <table class="layui-table mainList"
               lay-data="{ page:true, id:'mainList' ,  text: { none: '先分配左边的模块项，再单击模块加载菜单进行分配' }}"
               lay-filter="mainList" lay-size="sm">
            <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Name', width:150}">菜单名称</th>
                <th lay-data="{field:'DomId', width:150}">DomID</th>
                <th lay-data="{templet:'#icontmpl', width:150}">按钮图标</th>
            </tr>
            </thead>
        </table>
        <script type="text/html" id="icontmpl">
            <i class="layui-icon {{ d.Icon }}" style="font-size: 20px; color: #1E9FFF;"></i>
        </script>

         <table class="layui-table propList"
               lay-data="{id:'propList' ,  text: { none: '用户自定义模块可以分配可见字段' }}"
               lay-filter="propList" lay-size="sm">
            <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Description', width:150}">字段描述</th>
                <th lay-data="{field:'Key', width:150}">字段代码</th>
            </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/assignModule.js?v=2.1"></script>