@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}
<blockquote class="layui-elem-quote news_search toolList" id="menus">
</blockquote>

<div class="layui-row">
    <div class="layui-col-xs2">
        <ul id="tree" class="ztree"
            style="padding: 2px; border: 1px solid #ddd; overflow: auto;">
        </ul>
    </div>
    <div class="layui-col-xs7">
        <table class="layui-table"
               lay-data="{height: 'full-80', id:'mainList'}"
               lay-filter="list" lay-size="sm">
            <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Name', width:120, sort: true, fixed: true}">模块名称</th>
                <th lay-data="{field:'CascadeId', width:80}">层级ID</th>
                <th lay-data="{field:'Code', width:80}">模块标识</th>
                <th lay-data="{field:'Url', width:200}">Url</th>
                <th lay-data="{field:'IconName', width:60,templet: '#iconTpl'}">图标</th>
                <th lay-data="{field:'ParentName', width:135}">父节点名称</th>
                <th lay-data="{field:'SortNo', width:80}">排序号</th>
                <th lay-data="{fixed: 'right', width:100, toolbar: '#barList'}"></th>
            </tr>
            </thead>
        </table>
        <!--列表右边的按钮-->
        <script type="text/html" id="barList">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看菜单</a>
        </script>
        <script type="text/html" id="iconTpl">
            {{#  if( d.IconName != null && d.IconName != ''){ }}
            <i class="layui-icon">{{ d.IconName }}</i>
            {{#  } else { }}
            {{ d.IconName }}
            {{#  } }}
        </script>
    </div>
    
    <div class="layui-col-xs">
        <!--菜单列表-->
        <table class="layui-table"
               lay-data="{height: 'full-80', id:'menuList'}"
               lay-filter="menulist" lay-size="sm">
            <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Icon', width:150,templet: '#menuTpl'}">已有菜单</th>
            </tr>
            </thead>
        </table>
       
        <script type="text/html" id="menuTpl">
            <button class="layui-btn layui-btn-xs {{ d.Class }} layui-btn-fluid" alt="{{ d.DomId }}">{{ d.Name }}</button>
        </script>
    </div>
</div>


<!--模块添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form layui-form-pane" action="" id="formEdit">

        <input type="hidden" name="Id" v-model="Id" />

        <div class="layui-form-item">
            <label class="layui-form-label">模块名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" v-model="Name" required lay-verify="required"
                       placeholder="请输入模块名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模块标识</label>
            <div class="layui-input-block">
                <input type="text" name="Code" v-model="Code" 
                       placeholder="比如：Module" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL地址</label>
            <div class="layui-input-block">
                <input type="text" name="Url" v-model="Url" required lay-verify="required"
                       placeholder="请输入URL" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <select name="IconName" v-model="IconName" required lay-verify="required">
                    <option value="" selected="selected"></option>
                    <option value="&#xe678;" >手机</option>
                    <option value="&#xe679;">盾牌</option>
                    <option value="&#xe672;;">授权</option>
                    <option value="&#xe674;">高级</option>
                    <option value="&#xe665;">控制台</option>
                </select>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input type="text" name="SortNo" v-model="SortNo" required lay-verify="required"
                       placeholder="请输入排序号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属模块</label>
            <div class="layui-input-block">
                <input id="ParentName" name="ParentName" v-model="ParentName" class="layui-input" />
                <input id="ParentId" name="ParentId" v-model="ParentId"  type="hidden" />
                <div id="menuContent" class="menuContent" style="display: none;">
                    <ul id="org" class="ztree"></ul>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!--添加菜单窗口-->
<div id="divMenuEdit" style="display: none">
    <form class="layui-form layui-form-pane" action="" id="mfromEdit">

        <input type="hidden" name="Id" v-model="Id" />
        <input type="hidden" name="ModuleId" v-model="ModuleId" />  

        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" v-model="Name" required lay-verify="required"
                       placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">DomId</label>
            <div class="layui-input-block">
                <input type="text" name="DomId" v-model="DomId" required lay-verify="required"
                       placeholder="请输入DomId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">样式</label>
            <div class="layui-input-block">
                <input type="text" name="Class" v-model="Class"
                       placeholder="菜单的样式，如：layui-btn-danger" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input type="text" name="Sort" v-model="Sort" required lay-verify="required"
                       placeholder="请输入排序号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="mformSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/modules.js"></script>