@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}

<form class="layui-form" action="" id="formEdit">
   <div class="layui-row">
        <div class="layui-tab layui-tab-brief" lay-filter="tab">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>执行人</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <label class="layui-form-label">节点标识</label>
                        <div class="layui-input-block">
                            <input type="text" name="NodeCode" id="NodeCode" v-model="NodeCode" required lay-verify="required"
                                   placeholder="流程编号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">节点名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="NodeName" v-model="NodeName" required lay-verify="required"
                                   placeholder="节点名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="Description" v-model="Description" required lay-verify="required"
                                   placeholder="备注" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <ul id="tree" class="ztree" style="display: inline-block; width: 180px; padding: 10px; border: 1px solid #ddd; overflow: auto;"></ul>
                    <ul id="menutree" class="ztree" style="display: inline-block; width: 180px; padding: 10px; border: 1px solid #ddd; overflow: auto;"></ul>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/nodeInfo.js"></script>