@section header
{
     <link rel="stylesheet" href="/css/treetable.css" />
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
}
<blockquote class="layui-elem-quote news_search toolList" id="menus">
</blockquote>

    <table id="mainList"
           lay-data="{height: 'full-80',cellMinWidth:80, page:true, id:'mainList'}"
           lay-filter="list"  lay-size="sm"></table>

<script type="text/html" id="barList">
    @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>*@
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--用户添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form layui-form-pane" action="" id="formEdit">

        <div class="layui-form-item">
            <label class="layui-form-label">类型标识</label>
            <div class="layui-input-block">
                <input type="text" name="Id" v-model="tmp.Id" required lay-verify="required"
                       placeholder="请输入类型标识" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" v-model="tmp.Name" required lay-verify="required"
                       placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">类型分类</label>
            <div class="layui-input-block">
                <input id="TypeName" name="TypeName" v-model="tmp.TypeName" required lay-verify="required" class="layui-input" />
                <input id="TypeId" name="TypeId" v-model="tmp.TypeId" required lay-verify="required" type="hidden" />
                
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="Description" v-model="tmp.Description"
                       placeholder="请输入描述" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/categories.js?v=1.5.1"></script>