@section header
    {
    <link rel="stylesheet" href="/css/main.css" media="all" />
}

<blockquote class="layui-elem-quote explain">

    <p>
        <span style="color: #1E9FFF;">无权访问请求的模块，请用系统管理员账号授权后访问</span>
    </p>
  
</blockquote>

