@{
    Layout = null;
}

<script type="text/javascript">

</script>
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            您无权访问该页面
        </h4>

     
        <div class="row" style=" margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <div style="margin-top:5px; margin-right:300px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">OpenAuth.Net/GIT</h3></div>

                    <div class="panel-body">
                        <iframe width="100%" height="240" class="share_self" frameborder="0" scrolling="no" src="/Home/Git"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
