<%-- 
Name: Database Table Properties
Author: yubaolee
Description: Create a list of properties from a database table
--%>
<%@ CodeTemplate Language="C#" Encoding="utf-8" TargetLanguage="C#" Debug="False" Description="创建包含组织机构的接口" %>
<%@ Property Name="ModuleName" Type="String" Category="Context" Description="模块名称" %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

using System.Collections.Generic;
using System.Linq;

namespace OpenAuth.Domain.Interface
{
    public interface I<%=ModuleName%>Repository :IRepository<<%=ModuleName%>>
    {
        IEnumerable<<%=ModuleName%>> Load<%=ModuleName%>s(int pageindex, int pagesize);

        IEnumerable<<%=ModuleName%>> LoadInOrgs(params int[] orgId);
        int Get<%=ModuleName%>CntInOrgs(params int[] orgIds);
        IEnumerable<<%=ModuleName%>> LoadInOrgs(int pageindex, int pagesize, params int[] orgIds);
        
        void Delete(int id);

    }
}