@section header
{
    <link rel="stylesheet" href="/css/main.css" media="all" />
}


    <form method="post" id="saveform" name="saveform" action="">
        <input type="hidden" name="fields" id="fields" value="0">
        
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>提醒：</strong>单选框和复选框，如：<code>{|-</code>选项<code>-|}</code>两边边界是防止误删除控件，程序会把它们替换为空，请不要手动删除！
        </div>
            
        <div class="layui-row">
            <div class="layui-col-xs2">
                    
                    
                <ul class="layui-nav layui-nav-tree layui-inline" style="margin-right: 5px;">
                    <li  class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('text');" >文本框</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('textarea');" >多行文本</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('select');" >下拉菜单</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('radios');" >单选框</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('checkboxs');" class="btn btn-link">复选框</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('macros');" class="btn btn-link">宏控件</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('progressbar');" class="btn btn-link">进度条</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('qrcode');" class="btn btn-link">二维码</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0);" onclick="leipiFormDesign.exec('listctrl');" class="btn btn-link">列表控件</a></li>
                    </ul>
            </div>
            <div class="layui-col-xs10">
                <script id="myFormDesign" type="text/plain" style="width:100%;">
                    <p style="text-align: center;">
                        <br />
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size: 24px;">示例表</span>
                    </p>
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="firstRow">
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);">
                                    文本框
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="227">
                                    <input style="text-align: left; width: 150px;" title="文本框" value="雷劈网" name="leipiNewField" orgheight="" orgwidth="150" orgalign="left" orgfontsize="" orghide="0" leipiplugins="text" orgtype="text" />
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="85">
                                    下拉菜单
                                </td>
                                <td valign="top" style="border-color: rgb(221, 221, 221);" width="312">
                                    {|-<span leipiplugins="select">
                                        <select name="leipiNewField" title="下拉菜单" leipiplugins="select" size="1" orgwidth="150" style="width: 150px;">
                                            <option value="下拉">
                                                下拉
                                            </option>
                                            <option value="菜单">
                                                菜单
                                            </option>
                                        </select>&nbsp;&nbsp;
                                    </span>-|}
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);">
                                    单选
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="41">
                                    {|-<span leipiplugins="radios" title="单选" name="leipiNewField"><input value="单选1" type="radio" checked="checked" />单选1&nbsp;<input value="单选2" type="radio" />单选2&nbsp;</span>-|}
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="85">
                                    复选
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="312">
                                    {|-<span leipiplugins="checkboxs" title="复选"><input name="leipiNewField" value="复选1" type="checkbox" checked="checked" />复选1&nbsp;<input name="leipiNewField" value="复选2" type="checkbox" checked="checked" />复选2&nbsp;<input name="leipiNewField" value="复选3" type="checkbox" />复选3&nbsp;</span>-|}
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);">
                                    宏控件
                                </td>
                                <td valign="top" style="border-color: rgb(221, 221, 221);" width="41">
                                    <input name="leipiNewField" type="text" value="{macros}" title="宏控件" leipiplugins="macros" orgtype="sys_date_cn" orghide="0" orgfontsize="12" orgwidth="150" style="font-size: 12px; width: 150px;" />
                                </td>
                                <td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);" width="85">
                                    二维码
                                </td>
                                <td valign="top" style="border-color: rgb(221, 221, 221);" width="312">
                                    <img name="leipiNewField" title="雷劈网" value="http://www.leipi.org" orgtype="url" leipiplugins="qrcode" src="js/ueditor/formdesign/images/qrcode.gif" orgwidth="40" orgheight="40" style="width: 40px; height: 40px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <input name="leipiNewField" leipiplugins="listctrl" type="text" value="{列表控件}" readonly="readonly" title="采购商品列表" orgtitle="商品名称`数量`单价`小计`描述`" orgcoltype="text`int`int`int`text`" orgunit="```元``" orgsum="0`0`0`1`0`" orgcolvalue="`````" orgwidth="100%" style="width: 100%;" />
                    </p>
                    <p>
                        <textarea title="多行文本" name="leipiNewField" leipiplugins="textarea" value="" orgrich="0" orgfontsize="12" orgwidth="600" orgheight="80" style="font-size:12px;width:600px;height:80px;"></textarea>
                    </p>
                    <p>
                        <img name="leipiNewField" title="进度条" leipiplugins="progressbar" orgvalue="20" orgsigntype="progress-info" src="js/ueditor/formdesign/images/progressbar.gif" />
                    </p>
                </script>
            </div>
        </div>

    </form>
<button class="layui-btn layui-btn-normal" id="btnSubmit">提交</button>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.config.js?2023"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.all.js?2023"> </script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/lang/zh-cn/zh-cn.js?2023"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/formdesign/leipi.formdesign.v4.js?2023"></script>

<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/userJs/formBuilder.js?v=23"></script>
