@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}
<blockquote class="layui-elem-quote news_search toolList">
    @Html.Action("MenuHeader", "Home")
</blockquote>

<div style="display: flex;">
    <table class="layui-table"
           lay-data="{height: 'full-80', page:true, id:'mainList'}"
           lay-filter="list"  lay-size="sm">
        <thead>
        <tr>
            <th lay-data="{checkbox:true, fixed: true}"></th>
            <th lay-data="{field:'Id', width:150}">表单模板Id</th>
            <th lay-data="{field:'FrmCode', width:150}">表单编号</th>
            <th lay-data="{field:'FrmName', width:150}">表单名称</th>
            <th lay-data="{field:'FrmType', width:150}">表单分类</th>
            <th lay-data="{field:'FrmTable', width:150}">数据表</th>
            <th lay-data="{field:'FrmTableId', width:150}">关联表的主键</th>
            <th lay-data="{field:'isSystemTable', width:150}">是否需要建表0不建表,1建表</th>
            <th lay-data="{field:'FrmContent', width:150}">表单内容</th>
            <th lay-data="{field:'SortCode', width:150}">排序码</th>
            <th lay-data="{field:'DeleteMark', width:150}">删除标记</th>
            <th lay-data="{field:'FrmDbId', width:150}">数据库Id</th>
            <th lay-data="{field:'EnabledMark', width:150}">有效</th>
            <th lay-data="{field:'Description', width:150}">备注</th>
            <th lay-data="{field:'CreateDate', width:150}">创建时间</th>
            <th lay-data="{field:'CreateUserId', width:150}">创建用户主键</th>
            <th lay-data="{field:'CreateUserName', width:150}">创建用户</th>
            <th lay-data="{field:'ModifyDate', width:150}">修改时间</th>
            <th lay-data="{field:'ModifyUserId', width:150}">修改用户主键</th>
            <th lay-data="{field:'ModifyUserName', width:150}">修改用户</th>
            <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barList'}"></th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/html" id="barList">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
</script>

<!--用户添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form" action=""  id="formEdit">
    <input type="hidden" name="Id" v-model="Id" />
    <div class="layui-form-item">
        <label class="layui-form-label">表单编号</label>
        <div class="layui-input-block">
            <input type="text" name="FrmCode" v-model="FrmCode" required lay-verify="required"
                placeholder="表单编号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单名称</label>
        <div class="layui-input-block">
            <input type="text" name="FrmName" v-model="FrmName" required lay-verify="required"
                placeholder="表单名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单分类</label>
        <div class="layui-input-block">
            <input type="text" name="FrmType" v-model="FrmType" required lay-verify="required"
                placeholder="表单分类" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数据表</label>
        <div class="layui-input-block">
            <input type="text" name="FrmTable" v-model="FrmTable" required lay-verify="required"
                placeholder="数据表" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">关联表的主键</label>
        <div class="layui-input-block">
            <input type="text" name="FrmTableId" v-model="FrmTableId" required lay-verify="required"
                placeholder="关联表的主键" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否需要建表0不建表,1建表</label>
        <div class="layui-input-block">
            <input type="radio" name="isSystemTable" value="1" title="value1" checked>
            <input type="radio" name="isSystemTable" value="0" title="value2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单内容</label>
        <div class="layui-input-block">
            <input type="text" name="FrmContent" v-model="FrmContent" required lay-verify="required"
                placeholder="表单内容" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序码</label>
        <div class="layui-input-block">
            <input type="radio" name="SortCode" value="1" title="value1" checked>
            <input type="radio" name="SortCode" value="0" title="value2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">删除标记</label>
        <div class="layui-input-block">
            <input type="radio" name="DeleteMark" value="1" title="value1" checked>
            <input type="radio" name="DeleteMark" value="0" title="value2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数据库Id</label>
        <div class="layui-input-block">
            <input type="text" name="FrmDbId" v-model="FrmDbId" required lay-verify="required"
                placeholder="数据库Id" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">有效</label>
        <div class="layui-input-block">
            <input type="radio" name="EnabledMark" value="1" title="value1" checked>
            <input type="radio" name="EnabledMark" value="0" title="value2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="Description" v-model="Description" required lay-verify="required"
                placeholder="备注" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="CreateDate" v-model="CreateDate" required lay-verify="required"
                placeholder="创建时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建用户主键</label>
        <div class="layui-input-block">
            <input type="text" name="CreateUserId" v-model="CreateUserId" required lay-verify="required"
                placeholder="创建用户主键" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建用户</label>
        <div class="layui-input-block">
            <input type="text" name="CreateUserName" v-model="CreateUserName" required lay-verify="required"
                placeholder="创建用户" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-block">
            <input type="text" name="ModifyDate" v-model="ModifyDate" required lay-verify="required"
                placeholder="修改时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改用户主键</label>
        <div class="layui-input-block">
            <input type="text" name="ModifyUserId" v-model="ModifyUserId" required lay-verify="required"
                placeholder="修改用户主键" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改用户</label>
        <div class="layui-input-block">
            <input type="text" name="ModifyUserName" v-model="ModifyUserName" required lay-verify="required"
                placeholder="修改用户" autocomplete="off" class="layui-input">
        </div>
    </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/forms.js"></script>


