
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/js/ueditor/formdesign/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Preview</title>
</head>
<body>
    <div class="container" style="width: 750px">
        <div id="content"></div>
    </div>
</body>
</html>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/preview.js?v1.4"></script>
