@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}

<div class="layui-row">
    <div class="layui-col-xs3">
        <ul id="tree" class="ztree"
            style="padding: 2px; border: 1px solid #ddd; overflow: auto;"></ul>
    </div>
    <div class="layui-col-xs9">
        <table class="layui-table"
               lay-data="{height: 'full-5', page:true, id:'mainList'}"
               lay-filter="list" lay-size="sm">
            <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'Name', width:150}">角色名称</th>
                <th lay-data="{field:'Organizations', width:250}">所属部门</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/assignRole.js"></script>