@section header
{
     <link rel="stylesheet" href="/css/treetable.css" />
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
}

<div class="layui-row">
    <table class="layui-hide" id="mainList" lay-filter="list" lay-size="sm"></table>
    <script type="text/html" id="Status">
        {{# if(d.Status == 0){ }}
        <span class="layui-badge layui-bg-blue">启用</span>
        {{# } else{}}
        <span class="layui-badge layui-bg-gray">已禁用</span>
        {{# } }}
    </script>
    <script type="text/html" id="userList">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="userList">显示>></a>
    </script>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/assignRole.js?v=2.1"></script>