@{
    string _prefix = "Category";
    var _treeId = _prefix + "Tree";
    var _gridId = _prefix + "Grid";
    var _treeDetail = _prefix + "Detail";
}

@{ Html.RenderAction("MenuHeader", "Home");}
<div class="bjui-pageContent tableContent" style="position:relative">
    <div class="clearfix">
        <div style="float: left; width: 220px; overflow: auto;" class="table table-bordered">
            <ul id="@_treeId" class="ztree"></ul>
        </div>

        <div id="@_treeDetail" style="margin-left: 225px;">
        </div>
    </div>
</div>


<script type="text/javascript">
    var selectedId = 0;
    $(document).ready(function () {
        initZtree();
        loadDataGrid();
    });
    //加载数据到datagrid
    function loadDataGrid() {
        //b-jui的datagrid需要重新处理HTML
        $('#@_treeDetail').empty()
            .append('<table id="@_gridId" class="table table-bordered table-hover table-striped table-top"></table>');

        $('#@_gridId').datagrid({
            showToolbar: false,
            filterThead: false,
           columns: [
               {
                    name: 'Id',
                    label: '资源表ID',
                     width: 100
                    , hide: true
               },    
               {
                    name: 'CascadeId',
                    label: '节点语义ID',
                     width: 100
               },    
               {
                    name: 'Name',
                    label: '名称',
                     width: 100
               },    
               {
                    name: 'ParentId',
                    label: '父节点流水号',
                     width: 100
               },    
               {
                    name: 'Status',
                    label: '当前状态',
                     width: 100
                     ,type: 'select',
                    align: 'center',
                    items: [{ '0': '默认' }, { '1': '状态1' }],
               },    
               {
                    name: 'SortNo',
                    label: '排序号',
                     width: 100
                     ,type: 'select',
                    align: 'center',
                    items: [{ '0': '默认' }, { '1': '状态1' }],
               },    
               {
                    name: 'RootKey',
                    label: '根节点',
                     width: 100
               },    
               {
                    name: 'RootName',
                    label: '根节点名称',
                     width: 100
               },    
            ],
            dataUrl: '/CategoryManager/Load?orgId=' + selectedId,
            fullGrid: true,
            showLinenumber: true,
            showCheckboxcol: true,
            paging: true,
            filterMult: false,
            showTfoot: false,
            height: '700'
        });
    }

    function zTreeOnClick(event, treeId, treeNode) {
        selectedId = treeNode.Id;
        loadDataGrid();
    }

    function initZtree() {
        var setting = {
            view: {selectedMulti: false},
            data: {
                key: {
                    name: 'Name',
                    title: 'Name'
                },
                simpleData: {
                    enable: true,
                    idKey: 'Id',
                    pIdKey: 'ParentId',
                    rootPId: 'null'
                }
            },
            callback: {onClick: zTreeOnClick}
        };
        $.getJSON('/CategoryManager/LoadForTree', function (json) {
            var zTreeObj = $.fn.zTree.init($('#@_treeId'), setting, json);
            zTreeObj.expandAll(true);
        });
    }

    //删除
    function delCategory() {
        var selected = getSelected('#@_gridId',2);
        if (selected == null) return;
        
        $.getJSON('/CategoryManager/Delete?Id=' + selected, function (data) {
            if (data.statusCode == "200")
                loadDataGrid();
            else {
                $(this).alertmsg('warn', data.message);
            }
        });
    }

    //自定义的编辑按钮
    function editCategory() {
        var selected = getSelected('#@_gridId',2);
        if (selected == null) return;

        $(this).dialog({
            id: 'editDialog',
            url: '/CategoryManager/Add?id=' + selected,
            title: '编辑',
            onClose:function() {
                refreshModuleGrid();
            }
        });

    }

    function refreshCategoryGrid() {
        $('#@_gridId').datagrid('refresh');
       // loadDataGrid();
    }
    //@@ sourceURL=CategoryManagerIndex.js
</script>
