<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OpenAuthDBContext" connectionString="Data Source=.;Initial Catalog=OpenAuthDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>