<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OpenAuthDBContext" connectionString="Data Source=.;Initial Catalog=OpenAuthDB;Persist Security Info=True;User ID=sa;Password=000000;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>