@model OpenAuth.App.SSO.LoginResult

@{
    ViewBag.Title = "title";
}

<h2>OpenAuth.net测试站点登录</h2>


<div class="col-lg-12">
    <form class="form-horizontal" method="POST">
        <div class="control-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
                <input type="text" id="username" name="username" value="admin">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
                <input type="password" id="password" name="password" value="admin">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn btn-primary">登录</button>
                <a href="http://localhost:52789/SSO/Login?appkey=@ViewBag.AppKey">或者使用OpenAuth.net第三方登录功能</a>
            </div>
        </div>
    </form>
</div>


