@using OpenAuth.App
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><small><i class="icon-leaf"></i> Ace Admin</small> </a>
            <ul class="nav ace-nav pull-right">
                <li class="green">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope-alt icon-animated-vertical icon-only"></i>
                        <span class="badge badge-success">5</span>
                    </a>
                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                        <li class="nav-header">
                            <i class="icon-envelope"></i> 5 Messages
                        </li>

                        <li>
                            <a href="#">
                                <img alt="Alex's Avatar" class="msg-photo" src="avatars/avatar.png" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Alex:</span>
                                        Ciao sociis natoque penatibus et auctor ...
                                    </span>
                                    <span class="msg-time">
                                        <i class="icon-time"></i> <span>a moment ago</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img alt="Susan's Avatar" class="msg-photo" src="avatars/avatar3.png" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Susan:</span>
                                        Vestibulum id ligula porta felis euismod ...
                                    </span>
                                    <span class="msg-time">
                                        <i class="icon-time"></i> <span>20 minutes ago</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img alt="Bob's Avatar" class="msg-photo" src="avatars/avatar4.png" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Bob:</span>
                                        Nullam quis risus eget urna mollis ornare ...
                                    </span>
                                    <span class="msg-time">
                                        <i class="icon-time"></i> <span>3:15 pm</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                See all messages
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="light-blue user-profile">
                    <a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
                        <img alt="Jason's Photo" src="~/Content/avatars/user.jpg" class="nav-user-photo" />
                        <span id="user_info">
                            <small>Welcome,</small> @LoginCacheApp.GetLogin().UserName
                        </span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                        <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
    </div><!--/.navbar-inner-->
</div><!--/.navbar-->