@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li><i class="icon-home"></i> <a href="#">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
    </ul><!--.breadcrumb-->
</div><!--#breadcrumbs-->
<div id="page-content" class="clearfix">
    <div class="row-fluid">
        <div class="row-fluid">
            Welcome To Domain Driven Design System
        </div><!--/row-->
        <div class="hr hr32 hr-dotted"></div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div><!--/row-->
</div><!--/#page-content-->