@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("MenuHeader", "Home");}
<div class="bjui-pageContent tableContent" style="position: relative">
    <div class="clearfix">
        <div style="float: left; width: 220px; overflow: auto;" class="table table-bordered">
            <ul id="tree" class="ztree"></ul>
        </div>

        <div id="detail" style="margin-left: 225px;">
            <table id="maingrid" class="table table-bordered"></table>
        </div>
    </div>
</div>

<!--编辑对话框-->
<div class="bjui-dialog hidden bjui-dialog-container" id="editDlg" data-noinit="true">
    <div class="bjui-pageContent">
        <form action="/StockManager/Add" class="pageForm" data-toggle="validate" data-reload="false" id="editForm">

            <table class="table table-condensed table-hover">
                <tbody>
                    <input type="text" id="Id" name="Id" value="" class="hidden" />
                    <tr>
                        <td>
                            <label for="Name" class="control-label x120">产品名称：</label>
                            <input type="text" id="Name" name="Name" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Number" class="control-label x120">产品数量：</label>
                            <input type="text" id="Number" name="Number" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Price" class="control-label x120">产品单价：</label>
                            <input type="text" id="Price" name="Price" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Status" class="control-label x120">出库/入库：</label>
                            <select name="Status" id="Status" data-toggle="selectpicker" data-rule="required">
                                <option value="0">出库</option>
                                <option value="1">入库</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="User" class="control-label x120">可见范围：</label>
                            <select name="User" id="User" data-toggle="selectpicker">
                                <option value="" selected="selected">全部可见</option>
                                <option value="ADMIN">管理员可见</option>
                                <option value="DEV">开发可见</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Time" class="control-label x120">操作时间：</label>
                            <input type="text" id="Time" name="Time" value="" data-toggle="datepicker" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ParentName" class="control-label x120">部门：</label>
                            <input id="OrgId" name="OrgId" style="display: none" />
                            <input type="text" name="ParentName" id="ParentName"
                                   data-toggle="selectztree" size="20" data-tree="#j_select_tree1">
                            <ul id="j_select_tree1" class="ztree hide" data-toggle="ztree"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="bjui-pageFooter">
        <ul>
            <li><button type="button" class="btn btn-close">关闭</button></li>
            <li><button type="button" class="btn btn-primary" id="btnSave">保存</button></li>
        </ul>
    </div>
</div>

<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/StockManager.js"></script>
