@section header
{
     <link rel="stylesheet" href="/css/treetable.css" />
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
}
<blockquote class="layui-elem-quote news_search toolList" id="menus"></blockquote>

<div class="layui-card">

    <table class="layui-table" id="mainList"
           lay-data="{height: 'full-80', page:true, id:'mainList'}"
           lay-filter="list" lay-size="sm">
    </table>

    <script type="text/html" id="Disable">
        {{# if(d.Disable){ }}
        <span class="layui-badge">已禁用</span>
        {{# } else{}}
        <span class="layui-badge layui-bg-green">正常</span>
        {{# } }}
    </script>

</div>

<!--添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form layui-form-pane" action="" id="formEdit">
        <div class="layui-form-item">
            <label class="layui-form-label">资源标识</label>
            <div class="layui-input-block">
                <input type="text" name="Id" v-model="tmp.Id" required lay-verify="required"
                       placeholder="名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" v-model="tmp.Name" required lay-verify="required"
                       placeholder="名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="Description" v-model="tmp.Description" required lay-verify="required"
                       placeholder="描述" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属应用</label>
            <div class="layui-input-block">
                <input id="AppName" name="AppName" v-model="tmp.AppName" class="layui-input" />
                <input id="AppId" name="AppId" v-model="tmp.AppId" type="hidden" />
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/resources.js?v=1.5.1"></script>


