.selectMsg{ width:110px; margin-right: 15px; }

.msg_info,.msg_time,.msg_reply,.msg_opr{min-height:50px; text-align:center;}
.msg_info{text-align:left; position: relative; }
.msg_info>img{ position: absolute; left:10px; top:10px; cursor:pointer; }
.msg_info .user_info{ padding-left:55px; line-height:25px; }
.msg_info .user_info h2{ color:#222; cursor:pointer; }
.msg_info .user_info h2:hover{ color:#1AA094;}
.msg_info .user_info p{ color:#8d8d8d; }
.msg_reply{ color:#e15f63; }

/*回复*/
.replay_edit{ overflow: hidden; margin-bottom:20px; }
.replay_edit a{margin-top: 10px; width:100px; float:right;}